doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='cart.css')
  title Confirmation
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='/') Store

section
  .container
    .row
      .col-lg-12.col-md-12
        div
          h4= `${userInfo.firstName} ${userInfo.lastName}`
          h5= userInfo.email
          p= userInfo.address
          p= userInfo.city
          p= userInfo.state
          p= userInfo.country
          br
        div
          .shopping-cart
            .column-labels
              label.product-details Product
              label.product-price Price
              label.product-quantity Quantity
              label.product-line-price Total
            each item in items
              .product
                .product-details
                  .product-title= item.name
                  p.product-description= item.description
                .product-id(style='display: none;')= item.id
                .product-price= item.price
                .product-quantity
                  p= item.quantity
                .product-line-price= item.price
            .totals
                label Subtotal
                h1#cart-subtotal.totals-value= userInfo.total
script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

